* {
	margin: 0;
	padding: 0;
	}

body {
	background-color: #FFF;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
}

.outer {
		display: table;
		position: absolute;
		height: 100%;
		width: 100%;
}

.middle {
		display: table-cell;
		vertical-align: middle;
}

.container-logo {
	height: 50px;
	width: 300px;
	margin: 30px auto;
}

.container-logo img{
	margin-right: 20px;
	margin-top: 5px;
	display: block;
	float: left
}

.container-logo h1 {
	color: #4A595F;
	font-weight: 700;
	font-size: 28px;
}

.container-logo p {
	color: #9EA7B3;
	text-align: left;
	letter-spacing: .4px;
}


p {
	color: #4A595F;
	font-weight: 400;
	text-align: center;
	line-height: 24px;
}


/* Social icon section */

.container {
	height: 50px;
	width: 290px;
	margin: 20px auto 20% auto;
}

.email, .dribbble, .twitter, .linkedin {
	height: 48px;
	width: 48px;
	background-image: url(../assets/sprite.png);
	background-repeat: no-repeat;
	float: left;
	margin: 0 10px 0 10px;
	border-radius: 100%;
	border: 2px solid transparent;
	-webkit-transition: border 0.2s ease-in-out;
	-moz-transition: border 0.2s ease-in-out;
	-o-transition: border 0.2s ease-in-out;
	transition: border 0.2s ease-in-out;
}

.dribbble {
	background-position: -1px -1px;
}

.dribbble:hover {
	background-position: -1px -51px;
	border: 2px solid #EA4C89;
}

.twitter {
	background-position: -51px -1px;
}

.twitter:hover {
	background-position: -51px -51px;
	border: 2px solid #1DA1F2;
}

.linkedin {
	background-position: -101px -1px;
}

.linkedin:hover {
	background-position: -101px -51px;
	border: 2px solid #1C87BD;
}

.email {
	background-position: -151px -1px;
}

.email:hover {
	background-position: -151px -51px;
	border: 2px solid #DD4B39;
}